@font-face {
    font-family: 'RBCN';
    src: url('../fonts/RBCN.ttf') format('truetype'); /* Used for all the text */
    font-display: block;
}

@font-face {
    font-family: 'RBTFNT';
    src: url('../fonts/RBTFNT.ttf') format('truetype'); /* Used for background text */
    font-display: block;
}

#game-over-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

#game-over-screen p {
    font-size: 24px;
}

#highscore-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#highscore-form button {
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
}

#highscore-form label {
    margin-top: 3em;
    font-size: 24px;
}

body {
    font-family: 'RBCN', 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

#game-container {
    display: inline-block;
    position: relative;
}

#game-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start
}

#game-info p {
    font-size: 24px;
}

#lives {
    width: 100px;
    text-align: left;
    display: inline-block;
}

#lives img {
    display: inline-block;
    vertical-align: middle;
}

body {
    text-align: center;
    background-color: #222;
    color: white;
    font-family: 'RBCN', 'Arial', sans-serif;
}

canvas {
    background-color: black;
    border: 1px solid white;
    display: block;
    margin: 0 auto;
}

h1 {
    color: lime;
}

h2 {
    font-size: 36px;
}

.custom-input {
    margin: 10px 0;
    padding: 10px;
    font-size: 24px;
    border: none;
    background-color: transparent;
    color: white;
    font-family: 'RBCN', 'Arial', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.custom-input:focus {
    outline: none;
}

.custom-button {
    padding: 10px 20px;
    font-size: 18px;
    font-family: 'RBCN', 'Arial', sans-serif;
    cursor: pointer;
    border: 2px solid white;
    background-color: #444;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.custom-button:hover {
    background-color: white;
    color: black;
}